Repository klever-verif/klever: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-lint, python-types, uv-lock

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: python-format
        name: Python format
        description: Run Python code formatting with ruff
        entry: make format
        language: system
        types: [file, python]
        stages: [pre-commit]

      - id: python-lint
        name: Python lint check
        description: Run Python code linting with ruff
        entry: make lint-fix
        language: system
        types: [file, python]
        stages: [pre-commit]

      - id: python-types
        name: Python type check
        description: Run Python code type checking with pyright
        entry: make type-check
        language: system
        types: [file, python]
        stages: [pre-commit]

      - id: git-commit-style
        name: Commit style check
        description: Run commitizen to validate commit message
        stages: [commit-msg]
        entry: make check-commit
        pass_filenames: false
        language: system

      - id: uv-lock
        name: UV lock update
        description: Run uv lock to update lock file
        entry: uv lock
        language: python
        pass_filenames: false
        files: ^(.*/)?(uv\.lock|pyproject\.toml)$

      - id: python-test
        name: Python testing
        description: Run pytest to execute tests
        entry: make test
        language: system
        pass_filenames: false
        stages: [pre-commit]

feat: add first api
  src/klever/__init__.py
  src/klever/api.py
  src/klever/types.py
  tests/__init__.py
  tests/test.py
Due: python-format, python-lint, python-types

ci: add verilator and codex to devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

feat: implement channels
  Makefile
  pyproject.toml
  src/klever/api.py
  src/klever/channel.py
  src/klever/types.py
  tests/test.py
  uv.lock
Due: python-format, python-lint, python-types, uv-lock

ci: update devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

ci: add llm cli to container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

chore: update gitignore with vscode
  .gitignore
Due: none

docs: update project description
  README.md
  pyproject.toml
Due: uv-lock

chore: add AGENTS guidelines and clarify Make targets
  AGENTS.md
  Makefile
Due: none

docs: enforce English for all repository text artifacts
  AGENTS.md
Due: none

fix: align devcontainer workspace mount for worktrees
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

fix: persist cli agent sessions in devcontainer
  .devcontainer/devcontainer.json
Due: none

docs: describe devcontainer setup
  .devcontainer/README.md
Due: none

docs: document memory knowledge storage
  .memory/AGENTS.md
  .memory/TODO.md
  AGENTS.md
Due: none

docs: do planning for feature
  .memory/DESIGN.md
  .memory/PLAN.md
  .memory/TASK-001-baseline-quality-gates.md
  .memory/TASK-002-cocotb-smoke-harness.md
  .memory/TASK-003-acceptance-test-matrix.md
  .memory/TASK-004-lifecycle-error-tests.md
  .memory/TASK-005-rendezvous-handshake-fix.md
  .memory/TASK-006-queue-disconnect-safety.md
  .memory/TASK-007-broadcast-disconnect-safety.md
  .memory/TASK-008-copy-on-send-semantics.md
  .memory/TASK-009-iterator-eventually-semantics.md
  .memory/TASK-010-channel-documentation.md
  .memory/TASK-011-ci-tooling-alignment.md
Due: none

docs: fix TASK-001 command names and clarify scope
  .memory/TASK-001-baseline-quality-gates.md
Due: none

feat: establish baseline quality gates and fix all linting errors
  .memory/REVIEW-001.md
  src/klever/__init__.py
  src/klever/channel.py
  tests/__init__.py
  tests/test.py
Due: python-format, python-lint, python-types

docs(task-002): clarify architecture and scope for cocotb smoke harness
  .memory/TASK-002-cocotb-smoke-harness.md
Due: none

feat(tests): add cocotb smoke test harness with pytest plugin
  .gitignore
  .memory/TASK-002-cocotb-smoke-harness.md
  pyproject.toml
  tests/conftest.py
  tests/hdl/README.md
  tests/hdl/dummy_top.sv
  tests/test_channels.py
  uv.lock
Due: python-format, python-lint, python-types, uv-lock

fix: make check-commit target work with git worktree
  Makefile
Due: none

docs(opencode): add command to commit changes
  .opencode/command/commit.md
Due: none

chore: update persistent memory rules
  .memory/AGENTS.md
  .memory/issues/001-add-channels/CONTEXT.md
  .memory/issues/001-add-channels/PLAN.md
  .memory/issues/001-add-channels/REVIEW-001.md
  .memory/issues/001-add-channels/TASK-001-baseline-quality-gates.md
  .memory/issues/001-add-channels/TASK-002-cocotb-smoke-harness.md
  .memory/issues/001-add-channels/TASK-003-acceptance-test-matrix.md
  .memory/issues/001-add-channels/TASK-004-lifecycle-error-tests.md
  .memory/issues/001-add-channels/TASK-005-rendezvous-handshake-fix.md
  .memory/issues/001-add-channels/TASK-006-queue-disconnect-safety.md
  .memory/issues/001-add-channels/TASK-007-broadcast-disconnect-safety.md
  .memory/issues/001-add-channels/TASK-008-copy-on-send-semantics.md
  .memory/issues/001-add-channels/TASK-009-iterator-eventually-semantics.md
  .memory/issues/001-add-channels/TASK-010-channel-documentation.md
  .memory/issues/001-add-channels/TASK-011-ci-tooling-alignment.md
  .memory/issues/AGENTS.md
  .memory/templates/PLAN.md
  .memory/templates/REVIEW.md
  .memory/templates/TASK.md
  AGENTS.md
Due: none

chore(issues): standardize issue 001 artifacts
  .memory/issues/001-add-channels/CONTEXT.md
  .memory/issues/001-add-channels/PLAN.md
  .memory/issues/001-add-channels/REVIEW-001.md
  .memory/issues/001-add-channels/REVIEW-01.md
  .memory/issues/001-add-channels/TASK-001-baseline-quality-gates.md
  .memory/issues/001-add-channels/TASK-002-cocotb-smoke-harness.md
  .memory/issues/001-add-channels/TASK-003-acceptance-test-matrix.md
  .memory/issues/001-add-channels/TASK-004-lifecycle-error-tests.md
  .memory/issues/001-add-channels/TASK-005-rendezvous-handshake-fix.md
  .memory/issues/001-add-channels/TASK-006-queue-disconnect-safety.md
  .memory/issues/001-add-channels/TASK-007-broadcast-disconnect-safety.md
  .memory/issues/001-add-channels/TASK-008-copy-on-send-semantics.md
  .memory/issues/001-add-channels/TASK-009-iterator-eventually-semantics.md
  .memory/issues/001-add-channels/TASK-01-baseline-quality-gates.md
  .memory/issues/001-add-channels/TASK-010-channel-documentation.md
  .memory/issues/001-add-channels/TASK-011-ci-tooling-alignment.md
  .memory/issues/001-add-channels/TASK-02-cocotb-smoke-harness.md
  .memory/issues/001-add-channels/TASK-03-acceptance-test-matrix.md
  .memory/issues/001-add-channels/TASK-04-lifecycle-error-tests.md
  .memory/issues/001-add-channels/TASK-05-rendezvous-handshake-fix.md
  .memory/issues/001-add-channels/TASK-06-queue-disconnect-safety.md
  .memory/issues/001-add-channels/TASK-07-broadcast-disconnect-safety.md
  .memory/issues/001-add-channels/TASK-08-copy-on-send-semantics.md
  .memory/issues/001-add-channels/TASK-09-iterator-eventually-semantics.md
  .memory/issues/001-add-channels/TASK-10-channel-documentation.md
  .memory/issues/001-add-channels/TASK-11-ci-tooling-alignment.md
Due: none

docs: complete acceptance test matrix with review responses
  .memory/issues/001-add-channels/REVIEW-03.md
  .memory/issues/001-add-channels/TASK-03-acceptance-test-matrix.md
Due: none

docs: enhance review workflow and agent instruction access
  .memory/CLAUDE.md
  .memory/issues/AGENTS.md
  .memory/issues/CLAUDE.md
  .memory/templates/REVIEW.md
  CLAUDE.md
Due: none

feat(issues): formalize .memory issue review workflow
  .memory/issues/001-add-channels/REVIEW-01.md
  .memory/issues/001-add-channels/REVIEW-03.md
  .memory/issues/AGENTS.md
  .memory/templates/REVIEW.md
  .opencode/skill/do-issue-review/SKILL.md
  .opencode/skill/do-issue-review/poll.sh
  .opencode/skill/get-issue-review/SKILL.md
  .opencode/skill/get-issue-review/poll.sh
Due: none

chore(issues): re-decompose channel tasks to match test matrix
  .memory/issues/001-add-channels/TASK-03-acceptance-test-matrix.md
  .memory/issues/001-add-channels/TASK-04-foundation-create-and-test-scaffold.md
  .memory/issues/001-add-channels/TASK-04-lifecycle-error-tests.md
  .memory/issues/001-add-channels/TASK-05-endpoints-lifecycle-and-constraints.md
  .memory/issues/001-add-channels/TASK-05-rendezvous-handshake-fix.md
  .memory/issues/001-add-channels/TASK-06-queue-disconnect-safety.md
  .memory/issues/001-add-channels/TASK-06-queue-mode-semantics.md
  .memory/issues/001-add-channels/TASK-07-broadcast-disconnect-safety.md
  .memory/issues/001-add-channels/TASK-07-broadcast-mode-semantics.md
  .memory/issues/001-add-channels/TASK-08-copy-on-send-semantics.md
  .memory/issues/001-add-channels/TASK-08-rendezvous-mode-semantics.md
  .memory/issues/001-add-channels/TASK-09-error-and-wait-contracts.md
  .memory/issues/001-add-channels/TASK-09-iterator-eventually-semantics.md
  .memory/issues/001-add-channels/TASK-10-channel-documentation.md
  .memory/issues/001-add-channels/TASK-10-iterator-eventually-and-cancellation.md
  .memory/issues/001-add-channels/TASK-11-ci-tooling-alignment.md
  .memory/issues/001-add-channels/TASK-11-copy-on-send-and-copy-strategy.md
  .memory/issues/001-add-channels/TASK-12-concurrency-and-resource-cleanup.md
  .memory/issues/001-add-channels/TASK-13-channel-documentation.md
  .memory/issues/001-add-channels/TASK-14-ci-tooling-alignment.md
  src/klever/channel.py
Due: python-format, python-lint, python-types

feat(opencode): add new skill issue-workflow
  .memory/AGENTS.md
  .memory/issues/AGENTS.md
  .memory/issues/CLAUDE.md
  .memory/templates/REVIEW.md
  .opencode/skill/do-issue-review/SKILL.md
  .opencode/skill/do-issue-review/poll.sh
  .opencode/skill/get-issue-review/SKILL.md
  .opencode/skill/issue-workflow/SKILL.md
  .opencode/skill/issue-workflow/poll_review.sh
Due: none

feat(channel): add public mode attribute
  src/klever/channel.py
Due: python-format, python-lint, python-types

docs(issues): clarify TASK-04 to enforce public API usage
  .memory/issues/001-add-channels/TASK-04-foundation-create-and-test-scaffold.md
Due: none

chore(issues): align review workflow states
  .memory/templates/REVIEW.md
  .opencode/skill/issue-workflow/SKILL.md
  .opencode/skill/issue-workflow/poll_review.sh
Due: none

test(channels): verify create mode contracts
  .memory/issues/001-add-channels/REVIEW-04.md
  .memory/issues/001-add-channels/TASK-04-foundation-create-and-test-scaffold.md
  tests/test_channels.py
Due: python-format, python-lint, python-types

chore: add more agent rules
  .memory/CLAUDE.md
  .memory/issues/AGENTS.md
  .memory/templates/AGENTS.md
  CLAUDE.md
Due: none

test(channels): lock down endpoint lifecycle rules
  .memory/issues/001-add-channels/REVIEW-05.md
  .memory/issues/001-add-channels/TASK-05-endpoints-lifecycle-and-constraints.md
  pyproject.toml
  tests/test_channels.py
Due: python-format, python-lint, python-types, uv-lock

fix(channels): prevent queue wait hangs
  .memory/issues/001-add-channels/REVIEW-06.md
  .memory/issues/001-add-channels/TASK-06-queue-mode-semantics.md
  src/klever/channel.py
  tests/test_channels.py
Due: python-format, python-lint, python-types

fix(opencode): make issue-workflow skill more specific
  .opencode/skill/issue-workflow/SKILL.md
Due: none

feat(tools): add review tool
  Makefile
  pyproject.toml
  tests/conftest.py
  tools/review/__init__.py
  tools/review/review.py
  tools/review/test_review.py
Due: python-format, python-lint, python-types, uv-lock

feat(memory): update reviewctl tool
  .memory/issues/tools/AGENTS.md
  .memory/issues/tools/__init__.py
  .memory/issues/tools/reviewctl.py
  .memory/issues/tools/test_reviewctl.py
  tools/review/__init__.py
Due: python-format, python-lint, python-types

refactor(memory): reorganize repo memory
  .memory/AGENTS.md
  .memory/TODO.md
  .memory/issues/001-add-channels/REVIEW-01.md
  .memory/issues/001-add-channels/REVIEW-03.md
  .memory/issues/001-add-channels/REVIEW-04.md
  .memory/issues/001-add-channels/REVIEW-05.md
  .memory/issues/001-add-channels/REVIEW-06.md
  .memory/issues/AGENTS.md
  .memory/issues/ISSUE-1-add-channels/CONTEXT.md
  .memory/issues/ISSUE-1-add-channels/PLAN.md
  .memory/issues/ISSUE-1-add-channels/TASK-101-baseline-quality-gates.md
  .memory/issues/ISSUE-1-add-channels/TASK-102-cocotb-smoke-harness.md
  .memory/issues/ISSUE-1-add-channels/TASK-103-acceptance-test-matrix.md
  .memory/issues/ISSUE-1-add-channels/TASK-104-foundation-create-and-test-scaffold.md
  .memory/issues/ISSUE-1-add-channels/TASK-105-endpoints-lifecycle-and-constraints.md
  .memory/issues/ISSUE-1-add-channels/TASK-106-queue-mode-semantics.md
  .memory/issues/ISSUE-1-add-channels/TASK-107-broadcast-mode-semantics.md
  .memory/issues/ISSUE-1-add-channels/TASK-108-rendezvous-mode-semantics.md
  .memory/issues/ISSUE-1-add-channels/TASK-109-error-and-wait-contracts.md
  .memory/issues/ISSUE-1-add-channels/TASK-110-iterator-eventually-and-cancellation.md
  .memory/issues/ISSUE-1-add-channels/TASK-111-copy-on-send-and-copy-strategy.md
  .memory/issues/ISSUE-1-add-channels/TASK-112-concurrency-and-resource-cleanup.md
  .memory/issues/ISSUE-1-add-channels/TASK-113-channel-documentation.md
  .memory/issues/ISSUE-1-add-channels/TASK-114-ci-tooling-alignment.md
  .memory/issues/templates/AGENTS.md
  .memory/issues/templates/PLAN.md
  .memory/issues/templates/TASK.md
  .memory/templates/PLAN.md
  .memory/templates/REVIEW.md
  .memory/templates/TASK.md
  Makefile
Due: none

fix(opencode/skill): update skills related to issue review
  .opencode/skill/issue-workflow/SKILL.md
  .opencode/skill/issue-workflow/poll_review.sh
  .opencode/skill/issues-review-control/SKILL.md
  .opencode/skill/issues-review-control/scripts/__init__.py
  .opencode/skill/issues-review-control/scripts/reviewctl.py
  .opencode/skill/issues-review-control/scripts/test_reviewctl.py
  .opencode/skill/issues-reviewee/SKILL.md
  .opencode/skill/issues-reviewer/SKILL.md
  .opencode/skill/issues-workflow/SKILL.md
  Makefile
Due: python-format, python-lint, python-types

feat(reviewctl): deny closing thread without reviewee response
  .opencode/skill/issues-review-control/scripts/reviewctl.py
  .opencode/skill/issues-review-control/scripts/test_reviewctl.py
  .opencode/skill/issues-reviewer/SKILL.md
Due: python-format, python-lint, python-types
